@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

/* SASS DIRECTORY
	1. =.hero
	2. =.feature
	3. =.footer
*/
.footer-container, .feature-container, .hero-container {
  padding: 0 2.4rem;
}

/* ====== */
/* HERO */
/* ====== */
.hero-container {
  background-color: #ebfbff;
  background-image: url("../../images/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container .hero {
  max-width: 111rem;
  margin: 0 auto;
  padding: 5.5rem 0;
  height: 100vh;
}
.hero-container .hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container .hero__header-logo {
  width: 19rem;
}
.hero-container .hero__header-btn {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fff;
  color: #00252e;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.hero-container .hero__header-btn:hover {
  color: #777;
}
.hero-container .hero__info {
  padding-top: 7rem;
  display: flex;
  gap: 7rem;
}
.hero-container .hero__info-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-container .hero__info-text h1 {
  font-size: 4rem;
  margin-bottom: 4.5rem;
  color: #00252e;
}
.hero-container .hero__info-text p {
  margin-bottom: 3.5rem;
  line-height: 2.6rem;
}
.hero-container .hero__info-text button {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ff52bf;
  color: #fff;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero-container .hero__info-text button:hover {
  opacity: 0.75;
}
.hero-container .hero__info-img {
  flex-basis: 50%;
  display: grid;
  place-items: center;
}
.hero-container .hero__info-img img {
  width: 100%;
  object-fit: cover;
}

/* ====== */
/* FEATURE */
/* ====== */
.feature-container {
  background-color: #fff;
}
.feature-container .feature-card {
  margin: 16rem 0;
}
.feature-container .feature-card .card {
  max-width: 111rem;
  margin: 4rem auto;
  padding: 5rem 3.5rem 5.5rem 11rem;
  border-radius: 1rem;
  display: flex;
  gap: 8rem;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.feature-container .feature-card .card__text {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature-container .feature-card .card__text h2 {
  font-size: 3rem;
  color: #00252e;
}
.feature-container .feature-card .card__text p {
  line-height: 2.6rem;
  color: #808d99;
}
.feature-container .feature-card .card__img {
  flex-basis: 45%;
}
.feature-container .feature-card .card__img img {
  width: 100%;
}
.feature-container .feature-cta .ready {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
  gap: 4rem;
  border-radius: 1rem;
  padding: 7.5rem 0 5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  margin-bottom: -80px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-container .feature-cta .ready h2 {
  font-size: 3rem;
  color: #00252e;
}
.feature-container .feature-cta .ready button {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #ff52bf;
  color: #fff;
  border: none;
  border-radius: 10rem;
  padding: 2.5rem 11rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-container .feature-cta .ready button:hover {
  opacity: 0.75;
}

/* ====== */
/* FOOTER */
/* ====== */
.footer-container {
  background-color: #00252e;
  color: #fff;
}
.footer-container .footer {
  max-width: 111rem;
  margin: 0 auto;
  padding: 18rem 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.footer-container .footer__logo img {
  filter: brightness(0) invert(1);
  width: 22rem;
  margin-left: -1.8em;
}
.footer-container .footer__menu {
  display: flex;
  flex-flow: row wrap;
  gap: 10rem;
  justify-content: space-between;
}
.footer-container .footer__menu-contact {
  width: 33%;
}
.footer-container .footer__menu-contact li {
  list-style: none;
  font-size: 1.6rem;
  padding-left: 1.3em;
  margin-bottom: 2rem;
  line-height: 2.6rem;
}
.footer-container .footer__menu-contact li img {
  display: inline-block;
  margin-left: -1.8em;
  margin-right: 0.5em;
  width: 1.05em;
}
.footer-container .footer__menu-link1 {
  list-style: none;
  font-size: 1.8rem;
}
.footer-container .footer__menu-link1 li {
  margin-bottom: 2rem;
}
.footer-container .footer__menu-link2 {
  list-style: none;
  font-size: 1.8rem;
}
.footer-container .footer__menu-link2 li {
  margin-bottom: 2rem;
}
.footer-container .footer__menu-social {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
}
.footer-container .footer__menu-social li a:hover {
  color: #ff52bf;
}
.footer-container .footer__copyright {
  text-align: right;
}
.footer-container .footer__copyright p {
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
