@use "./colors" as *;
@use "./breakpoints" as *;

/* SASS DIRECTORY
	1. =.hero
	2. =.feature
	3. =.footer
*/
%content-padding {
  padding: 0 2.4rem;
}

/* ====== */
/* HERO */
/* ====== */
.hero-container {
  @extend %content-padding;
  background-color: $very-pale-cyan;
  background-image: url("../../images/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .hero {
    max-width: 111rem;
    margin: 0 auto;
    padding: 5.5rem 0;
    height: 100vh;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-logo {
        width: 19rem;
      }
      &-btn {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: #fff;
        color: $very-dark-cyan;
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 6rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        &:hover {
          color: #777;
        }
      }
    }
    &__info {
      padding-top: 7rem;
      display: flex;
      gap: 7rem;
      &-text {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
          font-size: 4rem;
          margin-bottom: 4.5rem;
          color: $very-dark-cyan;
        }
        p {
          margin-bottom: 3.5rem;
          line-height: 2.6rem;
        }
        button {
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: 700;
          background-color: $pink;
          color: #fff;
          border: none;
          border-radius: 10rem;
          padding: 1.5rem 6rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          &:hover {
            opacity: 0.75;
          }
        }
      }
      &-img {
        flex-basis: 50%;
        display: grid;
        place-items: center;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  @include display(tab) {
    .hero {
      padding: 3rem 0;
      &__header {
        &-logo {
          width: 10rem;
        }
        &-btn {
          font-size: 1.1rem;
          padding: 0.6rem 2.4rem;
        }
      }
      &__info {
        padding: 0 1rem;
        padding-top: 7rem; // inherit
        flex-direction: column;
        align-items: center;
        &-text {
          max-width: 51rem;
          text-align: center;
          align-items: center;
          h1 {
            font-size: 2.4rem;
            line-height: 4rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
        &-img {
          width: 80%;
        }
      }
    }
  }
}

/* ====== */
/* FEATURE */
/* ====== */
.feature-container {
  @extend %content-padding;
  background-color: #fff;

  .feature-card {
    margin: 16rem 0;
    .card {
      max-width: 111rem;
      margin: 4rem auto;
      padding: 5rem 3.5rem 5.5rem 11rem;
      border-radius: 1rem;
      display: flex;
      gap: 8rem;
      align-items: center;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      &__text {
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font-size: 3rem;
          color: $very-dark-cyan;
        }
        p {
          line-height: 2.6rem;
          color: $grayish-blue;
        }
      }
      &__img {
        flex-basis: 45%;
        img {
          width: 100%;
        }
      }
    }
  }

  .feature-cta {
    .ready {
      max-width: 80rem;
      margin: 0 auto;
      display: grid;
      place-items: center;
      gap: 4rem;
      border-radius: 1rem;
      padding: 7.5rem 0 5rem;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      margin-bottom: -80px;
      background-color: #fff;
      position: relative;
      z-index: 1;
      h2 {
        font-size: 3rem;
        color: $very-dark-cyan;
      }
      button {
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 700;
        background-color: $pink;
        color: #fff;
        border: none;
        border-radius: 10rem;
        padding: 2.5rem 11rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  @include display(tab) {
    .feature-card {
      margin: 6rem 0;
      margin-bottom: 12rem;
      .card {
        flex-direction: column;
        padding: 3rem;
        gap: 6rem;
        &__text {
          // border: 1px solid #000;
          order: 2;
          text-align: center;
          h2 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
        &__img {
          // border: 1px solid #000;
          order: 1;
        }
      }
    }
    .feature-cta {
      .ready {
        padding: 3.5rem 1.8rem;
        h2 {
          font-size: 1.7rem;
          text-align: center;
        }
        button {
          cursor: pointer;
          font-size: 1.3rem;

          padding: 2rem 7rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }
}

/* ====== */
/* FOOTER */
/* ====== */
.footer-container {
  @extend %content-padding;
  background-color: $very-dark-cyan;
  color: #fff;
  .footer {
    max-width: 111rem;
    margin: 0 auto;
    padding: 18rem 0 6rem;
    display: flex;
    flex-direction: column;

    gap: 4rem;
    &__logo {
      img {
        filter: brightness(0) invert(1);
        width: 22rem;
        margin-left: -0.6em;
      }
    }
    &__menu {
      display: flex;
      flex-flow: row wrap;
      gap: 10rem;
      justify-content: space-between;
      &-contact {
        width: 33%;

        li {
          list-style: none;
          font-size: 1.6rem;
          padding-left: 1.3em;
          margin-bottom: 2rem;
          line-height: 2.6rem;
          img {
            display: inline-block;
            margin-left: -1.8em;
            margin-right: 0.5em;
            width: 1.05em;
          }
        }
      }
      &-link1 {
        list-style: none;
        font-size: 1.8rem;
        li {
          margin-bottom: 2rem;
        }
      }
      &-link2 {
        list-style: none;
        font-size: 1.8rem;
        li {
          margin-bottom: 2rem;
        }
      }
      &-social {
        list-style: none;
        display: flex;
        gap: 1rem;
        font-size: 2.5rem;
        li a {
          &:hover {
            color: $pink;
          }
        }
      }
    }
    &__copyright {
      text-align: right;
      p {
        font-size: 1.2rem;
      }
    }
  }
  @include display(tab) {
    .footer {
      padding: 18rem 0 6rem;
      display: flex;
      flex-direction: column;

      gap: 2.8rem;
      &__logo {
        img {
          width: 19rem;
        }
      }
      &__menu {
        flex-flow: column wrap;
        gap: 4rem;

        &-contact {
          width: 100%;
        }

        &-social {
          display: flex;
          justify-content: center;
        }
      }
      &__copyright {
        display: flex;
        justify-content: center;
      }
    }
  }
}
